{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block main %}
<section class="reset-password-section">
  <div class="reset-password-form-container">
    <h2 class="reset-password-title">Réinitialiser votre mot de passe</h2>
    <form method="post" class="reset-password-form" action="{{ path('app_reset_password', {'token': token}) }}">
      <div class="form-group">
        <label for="password">Nouveau mot de passe</label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          placeholder="Nouveau mot de passe" 
          required
        >
      </div>
      <button type="submit" class="submit-btn">Changer le mot de passe</button>
    </form>
  </div>
</section>
{% endblock %}
