{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <h1>Bienvenue !</h1>
    <h3>coucou</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda animi illum, 
    quae iusto molestias similique numquam quaerat praesentium facilis 
    cumque consequatur? Expedita ex minima cumque soluta culpa similique? Maxime, incidunt!</p>
{% endblock %}
