 <form method="post"
            action="{{ path('app_performance_type_delete', {'id': performance_type.id}) }}"
            onsubmit="return confirm('Êtes-vous sûr ?');"
            class="inline-form">
        <input type="hidden" name="_token"
               value="{{ csrf_token('delete' ~ performance_type.id) }}">
        <button type="submit" class="btn--danger">
          <i class="fas fa-trash-alt"></i> Supprimer
        </button>
      </form>