{% extends 'base.html.twig' %}

{% block title %}PerformanceType index{% endblock %}

{% block main %}
    <h1>PerformanceType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for performance_type in performance_types %}
            <tr>
                <td>{{ performance_type.nom }}</td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_performance_type_show', {'id': performance_type.id}) }}">show</a>
                    <a href="{{ path('app_performance_type_edit', {'id': performance_type.id}) }}">edit</a>
                
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_performance_type_new') }}">Create new</a>
{% endblock %}
