{% extends 'base.html.twig' %}

{% block title %}Détail du type de performance{% endblock %}

{% block main %}
  <section class="performance-type-show">
    <h1 class="performance-type-show__title">Nom du type de performance : <span class="performance-type-show__name">{{ performance_type.nom }}</span></h1>

    <div class="performance-type-show__actions">
      <a href="{{ path('app_performance_type_index') }}" class="btn-backperformance">
        <i class="fas fa-arrow-left"></i> Retour à la liste
      </a>
    </div>
  </section>
{% endblock %}
