{% extends 'base.html.twig' %}

{% block title %}Détail du type de motorisation{% endblock %}

{% block main %}
  <section class="motorisation-type-show">
    <h1 class="motorisation-type-show__title">
      Type de motorisation : <span class="motorisation-type-show__name">{{ motorisation_type.nom }}</span>
    </h1>

    <div class="motorisation-type-show__actions">
      <a href="{{ path('app_motorisation_type_index') }}" class="btn-backmotorisation">
        <i class="fas fa-arrow-left"></i> Retour à la liste
      </a>
    </div>
  </section>
{% endblock %}
