{% extends 'base.html.twig' %}

{% block title %}MotorisationType{% endblock %}

{% block main %}
    <h1>MotorisationType</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Nom</th>
                <td>{{ motorisation_type.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_motorisation_type_index') }}">back to list</a>

    <a href="{{ path('app_motorisation_type_edit', {'id': motorisation_type.id}) }}">edit</a>

    {{ include('motorisation_type/_delete_form.html.twig') }}
{% endblock %}
