 @use '../../base/variables' as v;
@use '../../base/fonts' as f;
@use '../../utils/mixins' as m;
@use 'sass:color';

.performance-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 4rem auto;

  h2 {
    background: radial-gradient(circle, rgba(212, 175, 55, 1) 30%, rgba(229, 231, 235, 1) 96%);
    color: v.$primary-color;
    font-size: 2rem;
    border-radius: 15%;
    width: fit-content;
    padding: 0.8rem 1.5rem;
    margin: auto;
    margin-top: -2.2rem;
    text-align: center;

    span {
        color: #ffffff; 
        font-weight: bold; 
        font-size: 2.7rem;
        border-radius: 44%;
        background: #1F2937;
        background: radial-gradient(circle,rgba(31, 41, 55, 1) 98%, rgba(212, 175, 55, 0.9) 86%);
    }
}

  .performance-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .performance-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr; // 1 colonne en dessous de 768px
    }
  }

  .performance-item {
    background: #f8f8f8;
    padding: 1rem;
    border-radius: 0.5rem;

    input[type="number"] {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.3rem;
      border: 1px solid #ccc;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }
  }

 .submit-container-outside {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .submit-btn {
    background-color: #000;
    color: #fff;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: color.adjust(#000, $lightness: 15%);

    }
  }



    @media (max-width: 768px) {
      width: 100%; // Pleine largeur sur petit écran
    }
  }



  #perf-values {
    margin-top: 2rem;

    input {
      display: block;
      width: 100%;
      margin-top: 1rem;
      padding: 0.5rem;
      border-radius: 0.3rem;
      border: 1px solid #ccc;
    }
 
 
  .motorisation-options {
    .options-list, .category-checkboxes {
      flex-direction: column;
    }

    .motorisation-option, .category-option {
      width: 100%;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 480px) {
  .car-section, .car-edit-section {
    padding: 1rem;
  }

  .car-form, .car-edit-form {
    .form-group {
      label {
        font-size: 0.95rem;
      }

      .form-control {
        font-size: 0.95rem;
        padding: 0.6rem 0.9rem;
      }
    }
  }
 }
}
 