@use '../../base/variables' as v;
@use '../../base/fonts' as f;
@use 'sass:color';


.add-images {
  padding: 3rem 1.5rem;
  background-color: v.$secondary-color;

  &__form-wrapper {
    max-width: 700px;
    margin: 4rem auto;
    background: #fff;
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__title {
    background: radial-gradient(circle, rgba(212, 175, 55, 1) 30%, rgba(229, 231, 235, 1) 96%);
    color: v.$primary-color;
    font-size: 2rem;
    border-radius: 15%;
    width: fit-content;
    padding: 0.8rem 1.5rem;
    margin: auto;
    margin-top: -2.2rem;
    text-align: center;

    span {
      display: block;
      color: #fff;
      font-weight: bold;
      font-size: 2.2rem;
      margin-top: 0.5rem;
      border-radius: 44%;
      background: radial-gradient(circle, rgba(31, 41, 55, 1) 98%, rgba(212, 175, 55, 0.9) 86%);
      padding: 0.2rem 0.8rem;
    }

    small {
      display: block;
      margin-top: 0.5rem;
      color: #333;
      font-size: 0.9rem;
    }
  }

  &__error {
    background-color: #ffdddd;
    color: #d8000c;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid #d8000c;
    border-radius: 0.5rem;
  }

  &__upload {
    margin-top: 2rem;

    label {
      display: flex;
      align-items: center;
      font-weight: bold;
      margin-bottom: 0.5rem;

      .info-icon {
        margin-left: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
        color: v.$primary-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    input[type="file"] {
      width: 100%;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      font-size: 1rem;
    }
  }

  &__submit-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .submit-btn {
    background-color: #000;
    color: #fff;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background-color: color.adjust(#000, $lightness: 15%);

    }
  }
}
