// === Couleurs Globales ===
$primary-color: #1f2937;    // Fond sombre / header
$secondary-color: #d4af37;  // Doré (accent / hover / boutons)
$light-bg: #e5e7eb;         // Sections claires
$text-light: #f9fafb;       // Texte clair
$text-dark: #1f2937;        // Texte foncé

