// === Couleurs Globales ===
$primary-color: #1f2937;    
$secondary-color: #d4af37;  
$light-bg: #e5e7eb;         // Sections claires
$text-light: #f9fafb;       // Texte clair
$text-dark: #1f2937;        // Texte foncé

