
{# Afficher le champ d'upload d'images #}
{# <form method="post" enctype="multipart/form-data">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
</form> #}




