<section class="categorie-section">
  <div class="categorie-form-container">
    <h2 class="categorie-title">Créer une nouvelle catégorie</h2>

    {{ form_start(form, { attr: { class: 'categorie-form' } }) }}
      <div class="form-group">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
      </div>


      <button type="submit" class="submit-btn">Créer la catégorie</button>
    {{ form_end(form) }}
  </div>
</section>
