{% extends 'base.html.twig' %}

{% block title %}Détail de la catégorie{% endblock %}

{% block main %}
  <section class="categorie-show">
    <h1 class="categorie-show__title">Catégorie : <span class="categorie-show__name">{{ categorie.nom }}</span></h1>
    
    <div class="categorie-show__actions">
      <a href="{{ path('app_categorie_index') }}" class="btn-backcategorie">
        <i class="fas fa-arrow-left"></i> Retour à la liste
      </a>

     
    </div>
  </section>
{% endblock %}
